.container {width: 500px; margin: 0 auto; padding-top: 200px;text-align: center;}
.search-input {width: 150px; padding: 10px; border: 1px solid red;}
#search-button {width: 100px; padding: 10px 20px; background-color: green; color: white;}